<h1>Posts</h1>

<% @posts.each do |post| %>
  <h3><%= post.body %></h3>
  <% if user_signed_in? %>
    <p>by <%= post.user.username %></p>
  <% end %>
<% end %>

<%= link_to "Create a Post", new_post_path %>